<% content_for :head do %>
  <title>Edit post</title>
<% end %>

<% content_for :navigation do %>
  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
<% end %>

<h1>
  Editing: "<%= @post.title %>"
</h1>

<%= render 'form' %>

