<% content_for :head do %>
  <title>Posts</title>
<% end %>

<% content_for :navigation do %>
  <%= link_to "Posts index", posts_path %> |
  <%= link_to "New post", new_post_path %>
<% end %>

<h1>
  otwtraining: Posts homepage
</h1>

<% if @randomPost %>
<div id=all_posts>
  
  <div class=label>
    Featured post:
  </div>
  <div id=post_title>
    <%= @randomPost.title %>
  </div>
    
  <div id=post_body>
    <%= @randomPost.body %>
  </div>
</div>
<% end %>